%section.part
  .row
    .large-12.column
      - @posts.each do |date, post|
        %article
          .row.title
            .large-12.column
              %h6
                %a{href: "/blog/#{post['slug']}"}
                  = post['title']
          %p
            %a{href: "/blog/#{post['slug']}"}
              %img{alt: "blogpost", src: post['photo_url']}/
          %p
            %i
              By
              = post['author']
              on
              = Date.parse(date).strftime
          %p
            - @content = File.read(File.join('.', 'posts', date + '.md'))
            = @content.split(' ').slice(0,70).join(' ') + ' ...'
          %p.text-center
            %a.button{href: "/blog/#{post['slug']}"} Read More